C#/MyCalculator/bin/
C#/MyCalculator/obj/
C#/MyCalculatorUnitTest/bin/
C#/MyCalculatorUnitTest/obj/
C#/.vs/MyCalculator/v15/Server/sqlite3/storage.ide-wal
C#/.vs/MyCalculator/v15/Server/sqlite3/storage.ide-shm
C#/.vs/MyCalculator/v15/Server/sqlite3/db.lock
C#/.vs/MyCalculator/v15/Server/sqlite3/storage.ide
C#/.vs/MyCalculator/v15/.suo
